<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796909324985-3okl7po0jilt2d6e6mqkms36janho2rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796909324985-3okl7po0jilt2d6e6mqkms36janho2rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDSAMsekxW22lZ2gskAG1oafHe9Oxz_5Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>796909324985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gumbad.mount</string>
	<key>PROJECT_ID</key>
	<string>mount-20e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>mount-20e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796909324985:ios:72df0e9672e88229</string>
	<key>DATABASE_URL</key>
	<string>https://mount-20e1b.firebaseio.com</string>
</dict>
</plist>